
.popup-menu {
    padding: 1em 0;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    margin:0.25em;
}

.popup-menu .item {
    font-size: 100%;
    padding: 0.5em 1em;
    border-width: 0;
    background-color: white;
    color: black;
}
.popup-menu .item:hover {
    background-color: #66ccff;
    color: white;
}