#grid {
    width: 100vw;
    height: 100vh;
    border: 0px solid red;
    display: grid;
    grid-template-columns: [sources] 8em [panel] 1fr [right];
    grid-template-rows: [toolbar] 5em [header]1.5em [content] 1fr [status] 2em [bottom];
    background-color: #333;
    grid-gap: 1px;
}

.three-column {
    display: grid;
    border: 1px solid red;
    grid-template-columns: [col1] 8em [col2] 8em [col3] 1fr [right];
    grid-template-rows: [header]1.5em [content]1fr [bottom];
}

.toolbar {
    grid-row: toolbar;
    grid-column: sources/right;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-content: baseline;
    align-items: center;
}

.spacer {
    flex: 1;
}

.info-panel {
    background-color: #ddd;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.5em;
    font-size: 80%;
}

header {
    grid-row: header;
    background-color: #888;
    color: white;
    padding: 0.25em 0.5em;
}

.selection-list-view {
    overflow: scroll;
    background-color: white;
    grid-row: content;
    margin:0;
    padding:0;
    list-style: none;
}

.selection-list-view li {
    padding: 0.25em 0.5em;
    user-select: none;
}

.query {
    background-color: white;
    grid-row: content;
    grid-column: query;
    margin:0;
    list-style: none;
    padding:0;
}

#results {
    background-color: white;
    grid-row: content;
    grid-column: results;
    overflow: scroll;
}

table thead {
    position: sticky;
    top:0;
}

#results table {
    width: 800px;
    border: 1px solid gray;
    border-collapse: collapse;
}
td {
    border: 1px solid #ddd;
    background-color: white;
    padding: 0.25em 0.5em;
    user-select: none;
}
th {
    background-color: #888;
    color: white;
    padding: 0.1em 0.3em;
}

.status {
    grid-row: status;
    grid-column: sources/right;
    background-color: white;
}




.selected {
    background-color: greenyellow;
}



/* =================== form =============== */
.form-horizontal {
    display: grid;
    grid-template-columns: [label]1fr [editor]2fr [end];
}

.form-horizontal label {
    grid-column: label;
}
.form-horizontal input, span {
    grid-column: editor;
}


